<header>
    <h1>PRODUCTO</h1>
</header>

<main class="container-product">
    <section class="container-product__details">
        <h3>Detalles</h3>
        <ul>
            <li>ID: <b>{{product.id}}</b></li>
            <li>Título: <b>{{product.title}}</b></li>
            <li>Descripción: <b>{{product.description}}</b></li>
            <li>Código: <b>{{product.code}}</b></li>
            <li>Precio: $<b>{{product.price}}</b></li>
            <li>Stock: <b>{{product.stock}}</b></li>
            <li>Categoría: <b>{{product.category}}</b></li>
            <li>Estado: <b>{{#if product.status}}HABILITADO{{else}}INHABILITADO{{/if}}</b></li>
            <li>Disponible: <b>{{#if product.availability}}SI{{else}}NO{{/if}}</b></li>
            <li>
                Imagen:
                <img src="/public/images/{{product.thumbnail}}" alt="Imagen del producto">
            </li>
            <li>Creado: <i>{{product.createdAt}}hs</i></li>
            <li>Actualizado: <i>{{product.updatedAt}}hs</i></li>
        </ul>

        <a href="/"><button title="Volver al inicio">↶</button></a>
    </section>
</main>

<script src="/public/js/products_with_http.js"></script>